@font-face {
  font-family: 'Montserrat-Black';
  src: local('Montserrat-Black'), url('../src/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
body {
  margin: 0;
  font-family: 'Montserrat-Black',sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
